<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick And Morty</title>
    <script src="https://unpkg.com/vue@3.2.21"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-for="(personagem, index) in personagens" :key="index" class="card">
            <h2>{{ personagem.name }}</h2>
            <img :src="personagem.image" :alt="personagem.name">
            <p>Status: {{ personagem.status }}</p>
            <p>Espécie: {{ personagem.species }}</p>
            <p>Gênero: {{ personagem.gender }}</p>
            <p>Localização Atual: {{ personagem.location.name }}</p>
        </div>     

        <!-- tentativa 1<div id="form">
            <input type="text" v-model="name"/>
            <button v-on:click="search">Buscar</button>
        </div>
        <ul>
            <li v-for="personagem in personagens">
                {{ personagem.name }}
                <img :src="personagem.image" alt=""/>
            </li>
        </ul>
    </div>-->
    <script src="./app.js"></script>
</body>
</html>